<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mercury needs your location to share it in chats.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Mercury can share your workout, steps, and heart rate as quick status replies.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Mercury can share your calendar status as a quick reply.</string>
</dict>
</plist>
